{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please complete this short survey</legend>
                <div class="form-group">
                    {{ form.gender.label(class="form-control-label") }}
                    {{ form.gender(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.race.label(class="form-control-label") }}
                    {{ form.race(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.education.label(class="form-control-label") }}
                    {{ form.education(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.age_category.label(class="form-control-label") }}
                    {{ form.age_category(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.overall_experience.label(class="form-control-label") }}
                    {{ form.overall_experience(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.in_field_experience.label(class="form-control-label") }}
                    {{ form.in_field_experience(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.city_state.label(class="form-control-label") }}
                    {{ form.city_state(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.industry.label(class="form-control-label") }}
                    {{ form.industry(class="form-control form-control-sm") }}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
